# Python cache
*.pyc
__pycache__/

# Django DB file
db.sqlite3

# Media and static (generated)
media/
staticfiles/

# Virtual environment
env/

# IDE files
.idea
.vscode/
*.code-workspace

# Environment variables
.env
